
<div id="shopping-cart" class="container-fluid">
    <div class="row">
		<div class="input-group col-md-8 col-centered">
			<div class="panel panel-default">
			  <!-- Table -->
				  	<table class="table">
					  	<thead>
					  		<tr>
					  			<th>Name</th>
					  			<th>Price</th>
					  			<th>Conservation Status</th>
					  			<th>Quantity</th>
					  			<th>Remove From Cart</th>
					  		</tr>
					  	</thead>
					  	<tbody>
						  	<tr ng-repeat="item in cart">
						  		<td>{{ item.name }}</td>
						  		<td> ${{ item.priceUSD }}</td>
						  		<td>{{ item.conservationStatus }}</td>
                                <td> {{ item.quantity }}</td>
						  		<td>
						  			<button ng-click="deleteOne()" class="btn btn-default" type="button">
						  				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
						  			</button>
						  		</td>
						  	</tr>						  	
					  	</tbody>
				  	</table>
				</div>
				<button type="button" class="btn btn-default btn-lg">
                    Purchase
				</button>
			</div>
		</div>
	</div>

