<div class="row">
		<div class="input-group col-md-8 col-centered">
			<div class="panel panel-default">
			  <!-- Table -->
				  	<table class="table">
					  	<thead>
					  		<tr>
					  			<th>Name</th>
					  			<th>Promote To Administrator</th>
					  			<th>Trigger Password Reset</th>
					  			<th>Delete</th>
					  		</tr>
					  	</thead>
					  	<tbody>
						  	<tr ng-repeat="user in users">
						  		<td>{{ user.email }}</td>
						  		<td>
                                    <button ng-click="promoteToAdmin(user._id)" class="btn btn-default" type="button">
						  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
						  			</button>
                                </td>
                                <td>
                                    <button ng-click="triggerReset(user._id)" class="btn btn-default" type="button">
						  				<span  class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
						  			</button>
                                </td>
						  		<td>
                                    <button ng-click="deleteUser(user._id)" class="btn btn-default" type="button">
						  				<span  class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
						  			</button>
                                </td>
						  	</tr>
					  	</tbody>
				  	</table>
				</div>
        </div>
</div>