.animal-wrapper {
	background-color: #2d3853;
	.page-header {
		color: #ddd;
	}
}
#animal {
    img {
        border-radius: 6px;
    }
    #myCarousel {
        img {
            width: 200px; 
            height: 200px; 
            margin: 0 auto;
        }
    }

    .carousel-outer {
        width: 200px;
        overflow: hidden;
        height: 200px;
        margin: 0 auto;
    }
    
    
    
  .shop {
  	.panel-body {
  		padding: 15px 0;
  	}
  	.button-column {
  		padding: 0;
  		text-align: center;
  	}
  	.cta-column {
  		button {
  			width: 100%;
  		}
  	}
  	#quant:hover {
  		cursor: initial;
  	}
  }
	
	.out-of-stock {
		text-align: center;
	}
}