.animal-wrapper {
	background-color: #2D2D2D;
  min-height: calc(100vh - 92px);
  .page-header {
    color: #ddd;
  }
}

#animal {
  .image-and-description {
    height: 400px;
    .imagebox {
      width: 100%;
      height: 250px;
      margin: 0 auto;
    }
  }
  .details p {
    // font-size: 1.2em;
    margin: 30px 0;
  }
  #myCarousel {
      img {
          width: 200px; 
          height: 200px; 
          margin: 0 auto;
      }
  }
  .carousel-outer {
      width: 200px;
      overflow: hidden;
      height: 200px;
      margin: 0 auto;
  }
  .shop {
  	.panel-body {
  		padding: 15px 0;
  	}
  	.button-column {
  		padding: 0;
  		text-align: center;
  	}
  	.cta-column {
  		button {
  			width: 100%;
  		}
  	}
  	#quant:hover {
  		cursor: initial;
  	}
  }
	.out-of-stock {
		text-align: center;
	}
}