<div class="row">
		<div class="input-group col-md-8 col-centered">
              <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="{{ order.date | date }}" ng-repeat="order in orders">
                    <table class="table">
					  	<thead>
					  		<tr>
					  			<th>Name</th>
					  			<th>Price Per Animal</th>
					  			<th>Conservation Status</th>
					  			<th>Quantity</th>
					  			<th>Remove From Cart</th>
                                <th>Subtotal</th>
					  		</tr>
					  	</thead>
					  	<tbody>
                            {{ order }}
						  	<tr ng-repeat="item in order.items">
						  		<td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
						  	</tr>
					  	</tbody>
				  	</table>
                </uib-accordion-group>
              </uib-accordion>
        </div>
</div>