.fa {
    
    display: inline-block;
    
}
.btn-google {
    margin-top: 25px; 
    background-color: #C23321;
    color: white;

}

.btn-facebook {
    background-color: #3B5998;
    color: white;
}   
