<div class="animal-wrapper">
  <div id="animal" class="container">
    <div class="row">
      <div class="page-header">
        <h1>{{ animal.name }}        
            <small>
              <stars stars="aggregateStars(animal.reviews)"></stars>
            </small>
        </h1>
      </div>
      <div class="well well-lg">
        <div class="row">

          <div class="col-lg-4">
            <div class="panel panel-primary" style="min-height: 150px;">
              <div class="panel-body">
                {{ animal.description }}
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                Details
              </div>
              <div class="panel-body">
                <div class="container-fluid">
                  <p><strong>Conservation Status: </strong>{{ animal.conservationStatus }}</p>
                  <p><strong>Price: </strong>$ {{ animal.priceUSD }}</p>
                  <p><strong>Left in stock: </strong>{{ animal.inventoryQuantity }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary shop">
              <div class="panel-heading">
                Add to cart
              </div>
              <div class="panel-body">
                <div class="container-fluid">
                  <div class="row shopping-buttons">
                    <div class="col-sm-2 button-column">
                      <button type="button" class="btn btn-warning" ng-click="changeQuantity(-1)" ng-disabled="isMin()">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                    <div class="col-sm-2 button-column" style="text-align: center;">
                      <button type="button" class="btn btn-default disabled" style="width: 100%;" id="quant">
                        <span>{{ animalQuantity }}</span>
                      </button>
                    </div>
                    <div class="col-sm-2 button-column">
                      <button type="button" class="btn btn-warning" ng-click="changeQuantity(1)" ng-disabled="isMax()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </div>
                    <div class="col-sm-6 cta-column">
                      <button class="btn btn-danger" ng-click="addToCart()" ng-disabled="animalQuantity === 0">
                        Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                You might also like....
              </div>
              <div class="panel-body">
                <div class="container-fluid">
                  <div ng-if="recommendations.length === 0">
                    No recommendations for this animal.
                  </div>
                  <div id="myCarousel" ng-if="recommendations.length > 0">
                    <!--                            <div class="col-lg-offset-1 col-lg-6">  -->
                    <div class="carousel-outer">
                      <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ui-sref="animal({ id: recommendation._id })" ng-repeat="recommendation in recommendations" active="slide.active">
                          <img ng-src="{{ recommendation.imageUrl }}">
                          <div class="carousel-caption">
                            <h4>{{ recommendation.name }}</h4>
                          </div>
                        </uib-slide>
                      </uib-carousel>
                    </div>
                    <!--                        </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <img class="pull-right" ng-src="{{animal.imageUrl}}" w="350" h="400">
          </div>
        </div>
      </div>
      <hr>
      <br>
    </div>
    <div class="row" ng-if="isLoggedIn()">
      <div class="col-sm-10">
        <form ng-submit="submit()">
          <div class="input-group form-group input-group-lg">
            <input type="text" ng-model="$parent.review.content" class="form-control input-group-lg" placeholder="Leave a review" aria-describedby="sizing-addon1" required/>
            <span type="submit" class="input-group-addon">Submit</span>
          </div>
          <uib-alert ng-repeat="alert in alerts" close="closeAlert()" type="{{alert.type}}">{{alert.msg}}</uib-alert>
        </form>

      </div>
      <div class="col-sm-2" style="height: 46px;">
        <uib-rating ng-model="review.stars" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" style="color: #fff; font-size: 1.5em; display: block; margin-top: 10px; text-align: center;"></uib-rating>
      </div>
    </div>
    <div class="panel panel-primary" ng-repeat="review in animal.reviews">
      <div class="panel-heading">{{ review.writtenBy.email }} <small><stars class="pull-right" stars="review.stars" style="font-size: 1.2em;"></stars></small></div>
      <div class="panel-body">
        {{ review.content }}
      </div>
    </div>
    <hr>
  </div>
</div>