
<div id="animal" class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>{{ animal.name }}        <small><stars stars="animal.rating"></stars></small><div class='pull-right'> <small>Add to cart</small> <button class="btn btn-default "> <span class="glyphicon glyphicon-plus" ng-click="addToCart()"></span></button></div></h1>    
        </div>
        <div class="well well-lg">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                            <div class="panel-body">
                                {{ animal.description }}
                            </div>
			          </div>
                </div> 
                <div class="col-lg-4">
                    <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div ng-repeat="item in centerPanel" class="row">
                                        <strong>{{ item.label }}</strong> {{ item.value }}
                                    </div>
                                </div>    
                            </div>
			          </div>
                </div> 
                <div class="col-lg-4">
                    <img class="pull-right" ng-src="{{ animal.imageUrl }}"/>
                </div>    
            </div>
        </div>
        <form ng-submit="submit()" ng-show="isLoggedIn()">
            <uib-rating ng-model="review.stars" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            <div class="input-group input-group-lg">
                
                <input type="text" ng-model="review.content" class="form-control" placeholder="Leave a review." aria-describedby="sizing-addon1">
                <span class="input-group-addon" id="sizing-addon1">Submit</span>
            </div>
        </form>
        
        <hr>
            <div class="panel panel-default" ng-repeat="review in animal.reviews">
		  		<div class="panel-heading">{{ review.writtenBy.email }} <small><stars class="pull-right" stars="review.stars"></stars></small></div>
					<div class="panel-body">
						 {{ review.content }}
					</div>
			</div>
        
		
	</div>
</div>

