<form class="form-horizontal add-form" ng-submit="submit()">
  <div class="form-group">
    <label for="Name" class="col-sm-2 col-sm-offset-1 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" ng-model="animal.name" class="form-control input-lg" id="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="imageURL" class="col-sm-2 col-sm-offset-1 control-label">imageURL</label>
    <div class="col-sm-6">
      <input type="text" ng-model="animal.imageUrl" class="form-control input-lg" id="imageURL">
    </div>
  </div>
  <div class="form-group">
    <label for="Price" class="col-sm-2 col-sm-offset-1 control-label">Price</label>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" ng-model="animal.price" class="form-control input-lg" id="Price" placeholder="USD">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="Description" class="col-sm-2 col-sm-offset-1 control-label">Description</label>
    <div class="col-sm-6">
      <input type="text" ng-model="animal.description" class="form-control input-lg" id="Description">
    </div>
  </div>
  <div class="form-group">
    <label for="Inventory-Quantity" class="col-sm-2 col-sm-offset-1 control-label">Inventory Quantity</label>
    <div class="col-sm-6">
      <input type="text" ng-model="animal.inventoryQuantity" class="form-control input-lg" id="Inventory-Quantity">
    </div>
  </div>
  <div class="form-group">
    <div uib-dropdown is-open="status.isopen" class="col-sm-offset-3 col-sm-6">
      <button type="button" class="btn btn-success btn-lg btn-extend" uib-dropdown-toggle ng-disabled="disabled">
        {{ currentStatusOrDefault() }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
        <li ng-repeat="category in categories" ng-click="chooseCategory(category)" role="menuitem">
          <a>{{ category }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-primary btn-lg btn-extend btn-submit">Complete</button>
    </div>
  </div>
</form>