<form ng-submit='submit()'>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.name" placeholder="Name" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.imageUrl" placeholder="Image URL" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.price" placeholder="Price" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.description" placeholder="Description" aria-describedby="basic-addon1" require>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.conservationStatus" placeholder="Conservation Status" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="animal.inventoryQuantity" placeholder="Inventory Quantity" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

