<section id="home" class="container-fluid">
<!--  <h1>sdfsdfsdfsdfsdfsdfsdfsdfsdfsfsdfsdfsd</h1>-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-centered">
      <form name="search">        
            <input type="text" class="form-control input-lg" ng-model="name" placeholder="Find your next dangerous best friend...">
      </form>  
    </div>
  </div>    
<!--      </div>  -->
    <div id="results" class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-4" ng-repeat="animal in animals | filter: {name: name}">
              <a ui-sref="animal({ id: animal._id })">
                <div class="thumbnail">
                    <div class="imagebox">
                        <img ng-src="{{ animal.imageUrl }}" alt="...">
                    </div>    
                  <div class="caption">
                    <h3>{{ animal.name }}</h3>
                    <p>{{ animal.conservationStatus }}</p>
                  </div>
                </div>
              </a>
          </div>    
        </div>
    </div>          
</section>
