<section id="home" class="container-fluid">
<!--  <h1>sdfsdfsdfsdfsdfsdfsdfsdfsdfsfsdfsdfsd</h1>-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-centered">
      <form name="search">        
        <input type="text" class="form-control" ng-model="name" placeholder="Find your next dangerous best friend.">
      </form>  
    </div>
  </div>    
<!--      </div>  -->
<div id="results" class="container-fluid">
    <div class="row">
		<div class="input-group col-md-12 col-centered">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <!-- Table -->
                  <table class="table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Rating</th>
                              <th>Conservation Status</th>
                              <th>Price</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr ui-sref="animal({id: animal._id})" ng-repeat="animal in animals | filter: {name: name}">
                          <td><figure><img ng-src="{{animal.imageUrl}}"/></figure></td>
                          <td>{{animal.name}}</td>
                          <td>{{animal.rating}}</td>
                          <td>{{animal.conservationStatus}}</td>
                          <td>{{animal.price}}</td>
                        </tr>
                      </tbody>
                  </table>
				</div>
			</div>
		</div>
	</div>          
</section>
