* {
    box-sizing: border-box; 
}

body {
  background: white;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
//  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'animal/main';
@import 'shopping-cart/main';
